.custom-status {
	margin-left: 5px;
}

.custom-status--modified {
	color: var(--text-warning, var(--text-accent));
}

.custom-status--created {
	color: var(--text-success, var(--text-accent));
}

.custom-status--deleted {
	color: var(--text-error);
}

.custom-status--repo {
	margin-right: 5px;
}

.gitlab-repo-tree-item {
	display: flex;
	align-items: center;
}

.sync-button {
	margin-left: auto;
	padding: 1px;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	z-index: var(--layer-popover);
}
